<div class="col-md-12">
  <h3>Show all cakes</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Type</th>
        <th scope="col">Baker</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cake of allcakes">
        <!-- <th scope="row">{{cake._id}}</th> -->
        <td>{{cake.type}}</td>
        <td>{{cake.baker}}</td>
        <td><img src="{{cake.cake_pic}}" alt="{{cake.baker}}" class="img-thumbnail"></td>
        <td>
          <button class="btn btn-primary" (click)="deletecake(cake._id)">DELETE</button>
          <button class="btn btn-info" (click)="reviewcake(cake._id)">REVIEW</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>